{% extends 'base.html' %}

{% from 'macros/_formhelpers.html' import render_field %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login_block">
    <form action="" method="post" id="login_block">
        {{ form.csrf_token }}

        {{ render_field(form.email) }}

        {{ render_field(form.password) }}

        <input type="submit" value="Login">
    </form>
</div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
